.article-list{
  padding:     0 20px 20px;
  font-size:   13px;
  line-height: 24px;
  overflow:    hidden;
}

.article-list-item{
  clear:         both;
  margin-bottom: 24px;
  overflow:      hidden;
}

.article-list-image{
  float:  left;
  border: solid 1px @orange-border-default;

  &:hover{
    border-color: @orange-border-hover;
  }
  &.no-border{
    border: none !important;
  }
}


.article-list-text{
  margin-left: 320px;
  &.large{
    margin-left:364px;
  }
  & > p{
    margin-bottom:30px;
    & > a{
      color: @orange;
    }
  }

}

.article-list-item-title{
  font-size:     18px;
  color:         @orange;
  margin-bottom: 5px;
}

.article{
  font-size:   13px;
  line-height: 24px;
  padding: 0 20px 20px;
  & > p{
    margin-bottom:30px;
  }
}
.article-full-image{
  display: block;
  margin:  30px auto;
}
.description-list{
  color: @orange-text;
  margin-bottom:30px;
  &>li{
    list-style-type:decimal;
    margin-left: 1em;
    margin-bottom: 4px;
  }
}