.btn{
  color:           @gray;
  text-decoration: none;
  display:         inline-block;
  text-align:      center;
  text-transform: uppercase;

  &:hover{
    color: #fff;
    background-position:0 100%;
  }
}
.btn-small{
  background:  url(../img/btn-small.png);
  width:       54px;
  height:      18px;
  line-height: 18px;
  font-size:   11px;
}
.btn-large{
  background:  url(../img/btn-large.png);
  width:       96px;
  height:      32px;
  line-height: 34px;
  font-size:   14px;
  font-weight: bold;
}
.btn-long{
  background:  url(../img/btn-long.png);
  width:       152px;
  height:      37px;
  line-height: 37px;
  font-size:   13px;
  text-transform: capitalize;
}