#modalContent{
  display:none;
}
#cboxPrevious,
#cboxNext{
  background: url(../img/modal/modal-arrow.png) no-repeat;
  width:      50px;
  height:     71px;
  top:        50%;
  margin-top: -35px;
}
#cboxPrevious{left:-80px}
#cboxPrevious:hover{background-position:0 100%}
#cboxNext{background-position:100% 0;right:-80px}
#cboxNext:hover{background-position:100% 100%}
#colorbox #cboxClose{right:0;top:-30px;}

.modal-info{
  overflow:hidden;
  width:      980px;
}
.modal-image{
  float:        left;
  margin-right: 30px;
  border:       solid 1px @orange-border-default;
  width:        536px;
  height:       355px;
}
.modal-image-block{
  border:solid 1px @orange-border-hover;
  display:block;
  margin:auto;
}
.modal-image-strip{
  overflow:hidden;
  padding:20px 0 0;
}
.modal-image-tn{
  float:       left;
  border:      solid 1px @orange-border-default;
  width:       118px;
  height:      78px;
  margin-left: 19px;
  cursor:      pointer;
  &:hover,&.active{
    border-color:@orange-border-hover;
  }
  &:first-child{
    margin-left:0;
  }
}

.modal-info-details{
  & > p{
    line-height:   24px;
    font-size:     13px;
    color:         @gray;
    margin-bottom: 14px;
    &.intro{
      margin-bottom:26px;
    }
  }

}
.modal-info-title{
  font-size:     30px;
  color:         @orange;
  margin-bottom: 24px;
}