.tab-content(data-tab-content="juego")
  .article-list
    .article-list-image.no-border
      a(href="http://goo.gl/mcx4Jx")
        img(src="img/soporte/descargar-1.jpg", alt="", style="float:left")
    .article-list-text
      table.table-specs
        thead
          tr
            th REQUIREMENTS
            th MINIMOS
            th RECOMENDADOS
        tbody
          tr
            td CPU
            td Pentium 4 - 1.5 GHz
            td Pentium 4 - 2 GHz
          tr
            td Memoria
            td 512mb
            td 1 GB o superior
          tr
            td Tarjeta De Video
            td GeForce 5600 o equivalente
            td GeForce 6600 o equivalente
          tr
            td Unidad De Disco Duro
            td 2 GB
            td 2 GB
          tr
            td Sistema Operativo
            td Windows XP, Vista, 7, 8
            td Windows XP, Vista, 7, 8
          tr
            td DIRECT X
            td 9.0 o posterior
            td 9.0 o posterior
          tr
            td Conexión a Internet
            td Cable / DSL o superior
            td Cable / DSL o superior
