.tab-content(data-tab-content="instalacion",style="display:none")
  ul.article-list
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-1.jpg", alt="Install 1")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Descarga: Después de haber realizado su registro, será conducido a una nueva página <a href="http://es.crossfire.z8games.com/downloads3.aspx">donde</a> se le informará de cuáles son los requisitos mínimos para jugar a Cross Fire y dispondrá de un enlace que le permitirá descargar el juego en español.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-2.jpg", alt="Install 2")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Haga clic en la opción "Descargar Cross Fire". A continuación se abrirá una nueva ventana con los Términos de Uso de Pando Media Booster
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-3.jpg", alt="Install 3")
      .article-list-text
        h2.article-list-item-title 3º PASO
        p Acepte los Términos de Uso y elija la ubicación donde desee guardar los archivos de descarga.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-4.jpg", alt="Install 4")
      .article-list-text
        h2.article-list-item-title 4º PASO
        p Después de la descarga, se abrirá una ventana con información básica acerca de Cross Fire, incluyendo el tamaño del juego. Asegúrese de disponer de suficiente memoria disponible en su disco duro. Haga clic en "Siguiente".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-5.jpg", alt="Install 5")
      .article-list-text
        h2.article-list-item-title 5º PASO
        p Después de hacer clic en "Siguiente", deberá leer y aceptar los Términos de Uso y la Licencia de TERA. Marque la casilla “Acepto los Términos del Contrato” y haga clic en “Siguiente”.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-6.jpg", alt="Install 6")
      .article-list-text
        h2.article-list-item-title 6º PASO
        p Descarga: Una vez que haya hecho clic en "Siguiente" se le pedirá que seleccione una ubicación de destino donde desee instalar el juego. Pulse el botón “Buscar” y seleccione dónde quiere instalar Cross Fire.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-7.jpg", alt="Install 7")
      .article-list-text
        h2.article-list-item-title 7º PASO
        p A continuación, el proceso de instalación le pedirá que especifique dónde quiere crear el icono de acceso a Cross Fire. Si está de acuerdo con la ubicación por defecto, haga clic en “Siguiente”. Si desea especificar una ubicación alternativa, haga clic en “Buscar” y elija la nueva ubicación del icono de acceso. Una vez esté satisfecho con la ubicación, haga clic en “Siguiente”.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-8.jpg", alt="Install 8")
      .article-list-text
        h2.article-list-item-title 8º PASO
        p En el siguiente paso se le preguntará si desea que Cross Fire cree accesos directos en el Escritorio y en el Menú de Inicio. Seleccione las opciones que desee y haga clic en “Siguiente”.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-9.jpg", alt="Install 9")
      .article-list-text
        h2.article-list-item-title 9º PASO
        p La siguiente ventana le mostrará un resumen de la ubicación de los archivos del juego y el icono de acceso y le dará la opción de modificarlos si no está de acuerdo. En caso de que todo esté correcto, haga clic en “Instalar” para comenzar la instalación.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-10.jpg", alt="Install 10")
      .article-list-text
        h2.article-list-item-title 10º PASO
        p Una vez el programa termine de instalarse, aparecerá la ventana indicando el fin de la instalación. Simplemente haga clic en “Terminar”.

