.tab-content(data-tab-content="inicio",style="display:none")
  ul.article-list
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-1.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Registro: Busque el icono del juego en el escritorio o en la carpeta de instalación y haga doble clic sobre él.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-2.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Una vez que haya hecho clic en el icono de Cross Fire, se abrirá la ventana del lanzador del juego. Haga clic en "Inicio".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-3.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 3er  PASO
        p El juego comenzará a cargarse automáticamente. Una vez cargado, por favor introduzca su información de acceso en los campos "Cuenta" y "Contraseña" (es la información con la que se registró en la página web de Cross Fire). Haga clic en "Aceptar" para continuar.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-4.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 4º PASO
        p Al hacer clic en "Ok" entrará al Vestíbulo de Servidores donde aparecerá una ventana para crear un nombre para su soldado. Elija el nombre que desee y haga clic en "confirmar". Si el nombre ya está en uso se mostrará un mensaje indicando que el nombre no está disponible. Tras escoger un nombre válido, haga clic en "Aceptar".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-5.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 5º PASO
        p Después de confirmar el nombre de su soldado será conducido al Vestíbulo de Servidores donde podrá elegir el servidor en el que desee jugar. El color amarillo de los servidores indica que usted no puede acceder a ellos por no tener el rango adecuado o no pertenecer a ningún clan.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-6.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 6º PASO
        p Después de confirmar el nombre de su soldado será conducido al Vestíbulo de Servidores donde podrá elegir el servidor en el que desee jugar. El color amarillo de los servidores indica que usted no puede acceder a ellos por no tener el rango adecuado o no pertenecer a ningún clan.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-7.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 7º PASO
        p Una vez haya comprado las armas y los artículos necesarios para equipar a su soldado aparecerá un mensaje con la opción de ir al campo de entrenamiento. Este entrenamiento es opcional y usted puede elegir no realizarlo y proceder directamente al juego.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-8.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 8º PASO
        p Si decide realizar el entrenamiento, un tutorial le guiará a través de los movimientos básicos del juego. Si prefiere optar por no completar el entrenamiento, haga clic en "Cancelar", y accederá al Lobby de Canales. Seleccione un canal y haga doble clic sobre él para entrar o haga clic en "Acceder".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-9.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 9º PASO
        p Después de entrar en un canal accederá al Lobby del mismo, donde podrá ver varias salas. Las salas azules son habitaciones que están a la espera para iniciar una partida, las salas rojas son las habitaciones que se encuentran en mitad de una partida y las grises son las habitaciones que actualmente están llenas. Puede crear una nueva sala haciendo clic en "Crear Sala". Deberá elegir el modo de juego, el nombre de la sala, la contraseña (opcional) y otras opciones. Una vez seleccionadas las opciones básicas de la sala haga clic en "Aceptar".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-10.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 10º PASO
        p Si usted es el administrador de la sala podrá editar las opciones de la misma, que se encuentran en la parte superior izquierda de la pantalla. Se sabe quién es el administrador gracias a que este tendrá una pequeña estrella verde junto a su nombre.  Para saber qué jugadores están ya en el juego, busque una letra “P” a la derecha de cada nombre; esta letra “P” indica qué jugadores están jugando. Puede elegir jugar tanto como miembro de Black List como de Global Risk; para ello tan solo haga clic en el lado del bando del que desee formar parte. Para terminar, haga clic en "Unirse a la Partida".
