.tab-content(data-tab-content="deinstalar",style="display:none")
  ul.article-list
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-4-1.jpg", alt="Deinstalar 1")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Vaya a Disco local C: - Archivos de programa - Z8Games - CrossFire y haga clic en el icono unins000.exe (La ubicación de destino del programa de desinstalación puede variar dependiendo de la elección del usuario durante la instalación del juego o incluso del OS/Sistema Operativo) Un cuadro de texto aparecerá después de hacer clic en el icono unins000.exe. Seleccione "Sí" para desinstalar el juego.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-4-2.jpg", alt="Deinstalar 2")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Se abrirá la ventana de desinstalación. Espere a que la barra de progreso haya finalizado.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-4-3.jpg", alt="Deinstalar 3")
      .article-list-text
        h2.article-list-item-title 3er  PASO
        p Aparecerá un mensaje indicando que Cross Fire ha sido eliminado de su computadora. ¡Gracias por jugar y vuelva cuando quiera!