!!! strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='en-US')
head(profile='http://gmpg.org/xfn/11')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Maps «  Crossfire Español
    link(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/vendor/normalize.css', type='text/css', media='screen')
    link(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/vendor/reset.css', type='text/css', media='screen')
    link(rel='shortcut icon', href='http://images.z8games.com/cfes/wp-content/themes/cfes/favicon.ico')
    link(rel='alternate', type='application/rss+xml', title='Crossfire Espanol RSS Feed', href='http://es.crossfire.z8games.com/feed/')
    link(rel='alternate', type='application/atom+xml', title='Crossfire Espanol Atom Feed', href='http://es.crossfire.z8games.com/feed/atom/')
    link(rel='pingback', href='http://es.crossfire.z8games.com/xmlrpc.php')
    script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/modernizr-2.6.2.min.js')
    script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/selectivizr-min.js')
    link#js_composer_front-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/plugins/js_composer/assets/css/js_composer_front.css?ver=3.7.4', type='text/css', media='all')
    link#js_composer_custom_css-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/uploads/js_composer/custom.css?ver=3.7.4', type='text/css', media='screen')
    link#dt_colorbox_modal_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/colorbox.css?ver=3.8.1', type='text/css', media='all')
    link#dt_jquery_ui_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery-ui.min.css?ver=3.8.1', type='text/css', media='all')
    link#dt_jscrollpane_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery.jscrollpane.css?ver=3.8.1', type='text/css', media='all')
    link#dt_slippry_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery.slippry.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_content_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/content/module_content.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_front_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/module/module_front.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_shortcuts_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_shortcuts.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_social_media_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/social_media.css?ver=3.8.1', type='text/css', media='all')
    link#dt_video_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/video.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_video_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/module/video.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_post_content_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_content.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_post_tabs_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_tabs.css?ver=3.8.1', type='text/css', media='all')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700", type="text/css")
    link#cfes_main_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/cfes/css/main.css?ver=3.8.1', type='text/css', media='all')
    link#cfes_jqueryu_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/cfes/css/custom-theme/jquery-ui-1.10.4.custom.css?ver=3.8.1', type='text/css', media='all')
    link#dt_slider_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/slider.css?ver=3.8.1', type='text/css', media='all')
    link#dt_child_stylesheet-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/cfes/style.css?ver=3.8.1', type='text/css', media='all')
    link#dt_user_system_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/users/system.css?ver=3.8.1', type='text/css', media='all')
    link(href="css/newStyles.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-2.1.0.min.js", type="text/javascript")
    script(src="js/jquery.colorbox-min.js",type="text/javascript")
    script.
      $(function(){

          function switchTab(tabContent){
            $('.tab-content:not([data-content="'+tabContent+'"])').hide();
            $('.tab-content[data-content="'+tabContent+'"]').show();
          }

          $('.subpage-nav').on('click','.btn',
            function(e){
              e.preventDefault();
              tabContent = $(this).attr('href').substring(1);
              $(this).addClass('active');
              $(this).siblings().removeClass('active');
              switchTab(tabContent);
            }
          );

          $('.modal-image-tn').on('click',
            function(e){
              e.preventDefault();
              var bigImg = $(this).parent().siblings('.modal-image-block');
              var imgUrl = $(this).attr('src');
              bigImg.attr('src',imgUrl);
              $(this).addClass('active');
              $(this).siblings().removeClass('active');
            }
          );

          $(".death-match[data-modal-trigger]").colorbox({rel:'death-match',inline:true, width:"540px"});
          $(".search-destroy[data-modal-trigger]").colorbox({rel:'search-destroy',inline:true, width:"540px"});
          $(".ghostmode[data-modal-trigger]").colorbox({rel:'ghostmode',inline:true, width:"540px"});
          $(".elimination[data-modal-trigger]").colorbox({rel:'elimination',inline:true, width:"540px"});
          $(".free-for-all[data-modal-trigger]").colorbox({rel:'free-for-all',inline:true, width:"540px"});
          $(".mutation[data-modal-trigger]").colorbox({rel:'mutation',inline:true, width:"540px"});
          $(".special[data-modal-trigger]").colorbox({rel:'special',inline:true, width:"540px"});

        });
  body
    #modalContent
      #transport
          img.modal-image-block(src="img/maps/map-Transport_Ship.jpg", alt="Transport Ship")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Transport_Ship.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Transport_Ship2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Transport_Ship3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Transport_Ship4.jpg",alt="")
      #mexico
          img.modal-image-block(src="img/maps/map-Mexico.jpg", alt="Mexico")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Mexico.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Mexico2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Mexico3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Mexico4.jpg",alt="")
      #train
          img.modal-image-block(src="img/maps/map-Train.jpg", alt="Train")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Train.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Train2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Train3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Train4.jpg",alt="")
      #monaco
          img.modal-image-block(src="img/maps/map-Monaco.jpg", alt="Monaco")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Monaco.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Monaco2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Monaco3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Monaco4.jpg",alt="")
      #factory
          img.modal-image-block(src="img/maps/map-Factory.jpg", alt="Factory")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Factory.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Factory2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Factory3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Factory4.jpg",alt="")
      #egypt
          img.modal-image-block(src="img/maps/map-Egypt.jpg", alt="Egypt")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Egypt.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Egypt2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Egypt3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Egypt4.jpg",alt="")
      #powerplant
          img.modal-image-block(src="img/maps/map-Power_Plant.jpg", alt="Power Plant")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Power_Plant.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Power_Plant2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Power_Plant3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Power_Plant4.jpg",alt="")
      #arena
          img.modal-image-block(src="img/maps/map-Arena.jpg", alt="Arena")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Arena.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Arena2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Arena3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Arena4.jpg",alt="")
      #fortress
          img.modal-image-block(src="img/maps/map-Fortress.jpg", alt="Transport Ship")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Fortress.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Fortress2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Fortress3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Fortress4.jpg",alt="")
      #prison
          img.modal-image-block(src="img/maps/map-Prison.jpg", alt="Prison")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Prison.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Prison2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Prison3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Prison4.jpg",alt="")
      #downtown
          img.modal-image-block(src="img/maps/map-Downtown.jpg", alt="Downtown")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Downtown.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Downtown2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Downtown3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Downtown4.jpg",alt="")
      #alaska
          img.modal-image-block(src="img/maps/map-Alaska.jpg", alt="Alaska")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Alaska.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Alaska2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Alaska3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Alaska4.jpg",alt="")
      #hakenkreuz
          img.modal-image-block(src="img/maps/map-Hakenkreuz.jpg", alt="Hakenkreuz")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Hakenkreuz.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Hakenkreuz2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Hakenkreuz3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Hakenkreuz4.jpg",alt="")
      #metro
          img.modal-image-block(src="img/maps/map-Metro.jpg", alt="Metro")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Metro.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Metro.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Metro.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Metro.jpg",alt="")
      #columbia
          img.modal-image-block(src="img/maps/map-Columbia.jpg", alt="Columbia")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Columbia.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Columbia.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Columbia.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Columbia.jpg",alt="")
      #crossroad
          img.modal-image-block(src="img/maps/map-Crossroad.jpg", alt="Crossroad")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Crossroad.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Crossroad.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Crossroad.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Crossroad.jpg",alt="")
      #black-widow
          img.modal-image-block(src="img/maps/map-Black_Widow.jpg", alt="Black_Widow")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Black_Widow.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Black_Widow.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Black_Widow.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Black_Widow.jpg",alt="")
      #port
          img.modal-image-block(src="img/maps/map-Port.jpg", alt="Port")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Port.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Port2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Port3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Port4.jpg",alt="")
      #zone
          img.modal-image-block(src="img/maps/map-Zone_13.jpg", alt="Zone_13")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Zone_13.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Zone13_2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Zone13_3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Zone13_4.jpg",alt="")
      #excavation
          img.modal-image-block(src="img/maps/map-Excavation.jpg", alt="Excavation")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Excavation.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Excavation2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Excavation3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Excavation4.jpg",alt="")
      #research
          img.modal-image-block(src="img/maps/map-Research_Facility.jpg", alt="Research_Facility")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Research_Facility.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Research_Facility2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Research_Facility3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Research_Facility4.jpg",alt="")
      #halloween
          img.modal-image-block(src="img/maps/map-Halloween.jpg", alt="Halloween")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Halloween.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Halloween2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Halloween3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Halloween4.jpg",alt="")
      #christmas
          img.modal-image-block(src="img/maps/map-Christmas.jpg", alt="Christmas")
          .modal-image-strip
            img.modal-image-tn.active(src="img/maps/map-Christmas.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Christmas2.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Christmas3.jpg",alt="")
            img.modal-image-tn(src="img/maps/map-Christmas4.jpg",alt="")



    //-Middle content
    #newContent
      nav.subpage-nav
        a.btn.btn-long.active(href="#death-match") Team Death Match
        a.btn.btn-long(href="#search-destroy") Search &amp; Destroy
        a.btn.btn-long(href="#ghostmode") Ghostmode
        a.btn.btn-long(href="#elimination") Elimination
        a.btn.btn-long(href="#free-for-all", style="margin-right:0") Free for All
        a.btn.btn-long(href="#mutation") Mutation
        a.btn.btn-long(href="#special") Special

      ul.thumbnail-list.tab-content(data-content="death-match")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Transport_Ship_list.jpg", alt="Transport Ship TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Transport Ship TD
                .thumbnail-button-group
                    a(href="#transport",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Mexico_list.jpg", alt="Mexico TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Mexico TD
                .thumbnail-button-group
                    a(href="#mexico",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Train_list.jpg", alt="Train TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Train TD
                .thumbnail-button-group
                    a(href="#train",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Monaco_list.jpg", alt="Monaco TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Monaco TD
                .thumbnail-button-group
                    a(href="#monaco",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Factory_list.jpg", alt="Factory TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Factory TD
                .thumbnail-button-group
                    a(href="#factory",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Egypt_list.jpg", alt="Egypt TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Egypt TD
                .thumbnail-button-group
                    a(href="#egypt",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Power_Plant_list.jpg", alt="Powerplant TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Powerplant TD
                .thumbnail-button-group
                    a(href="#powerplant",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Arena_list.jpg", alt="Arena TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Arena TD
                .thumbnail-button-group
                    a(href="#arena",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Fortress_list.jpg", alt="Fortress TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Fortress TD
                .thumbnail-button-group
                    a(href="#fortress",data-modal-trigger,class="death-match").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Prison_list.jpg", alt="Prison TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Prison TD
                .thumbnail-button-group
                    a(href="#prison",data-modal-trigger,class="death-match").btn.btn-small More

      ul.thumbnail-list.tab-content(data-content="search-destroy",style="display:none")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Downtown_list.jpg", alt="Downtown")
            .thumbnail-text-container
                .thumbnail-text-container-title Downtown
                .thumbnail-button-group
                    a(href="#downtown",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Transport_Ship_list.jpg", alt="Transport Ship TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Transport Ship TD
                .thumbnail-button-group
                    a(href="#transport",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Mexico_list.jpg", alt="Mexico TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Mexico TD
                .thumbnail-button-group
                    a(href="#mexico",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Train_list.jpg", alt="Train TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Train TD
                .thumbnail-button-group
                    a(href="#train",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Monaco_list.jpg", alt="Monaco TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Monaco TD
                .thumbnail-button-group
                    a(href="#monaco",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Factory_list.jpg", alt="Factory TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Factory TD
                .thumbnail-button-group
                    a(href="#factory",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Egypt_list.jpg", alt="Egypt TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Egypt TD
                .thumbnail-button-group
                    a(href="#egypt",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Power_Plant_list.jpg", alt="Powerplant TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Powerplant TD
                .thumbnail-button-group
                    a(href="#powerplant",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Arena_list.jpg", alt="Arena TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Arena TD
                .thumbnail-button-group
                    a(href="#arena",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Fortress_list.jpg", alt="Fortress TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Fortress TD
                .thumbnail-button-group
                    a(href="#fortress",data-modal-trigger,class="search-destroy").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Prison_list.jpg", alt="Prison TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Prison TD
                .thumbnail-button-group
                    a(href="#prison",data-modal-trigger,class="search-destroy").btn.btn-small More
      ul.thumbnail-list.tab-content(data-content="ghostmode",style="display:none")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Hakenkreuz_list.jpg", alt="Hakenkreuz")
            .thumbnail-text-container
                .thumbnail-text-container-title Hakenkreuz
                .thumbnail-button-group
                    a(href="#hakenkreuz",data-modal-trigger,class="ghostmode").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Metro_list.jpg", alt="Metro")
            .thumbnail-text-container
                .thumbnail-text-container-title Metro
                .thumbnail-button-group
                    a(href="#metro",data-modal-trigger,class="ghostmode").btn.btn-small More
      ul.thumbnail-list.tab-content(data-content="elimination",style="display:none")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Columbia_list.jpg", alt="Columbia")
            .thumbnail-text-container
                .thumbnail-text-container-title Columbia
                .thumbnail-button-group
                    a(href="#columbia",data-modal-trigger,class="elimination").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Crossroad_list.jpg", alt="Crossroad")
            .thumbnail-text-container
                .thumbnail-text-container-title Crossroad
                .thumbnail-button-group
                    a(href="#crossroad",data-modal-trigger,class="elimination").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Arena_list.jpg", alt="Arena TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Arena TD
                .thumbnail-button-group
                    a(href="#arena",data-modal-trigger,class="elimination").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Alaska_list.jpg", alt="Alaska")
            .thumbnail-text-container
                .thumbnail-text-container-title Alaska
                .thumbnail-button-group
                    a(href="#alaska",data-modal-trigger,class="elimination").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Prison_list.jpg", alt="Prison TD")
            .thumbnail-text-container
                .thumbnail-text-container-title Prison TD
                .thumbnail-button-group
                    a(href="#prison",data-modal-trigger,class="elimination").btn.btn-small More
      ul.thumbnail-list.tab-content(data-content="free-for-all",style="display:none")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Black_Widow_list.jpg", alt="Black Window")
            .thumbnail-text-container
                .thumbnail-text-container-title Black Window
                .thumbnail-button-group
                    a(href="#black-widow",data-modal-trigger,class="free-for-all").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Port_list.jpg", alt="Port")
            .thumbnail-text-container
                .thumbnail-text-container-title Port
                .thumbnail-button-group
                    a(href="#port",data-modal-trigger,class="free-for-all").btn.btn-small More
      ul.thumbnail-list.tab-content(data-content="mutation",style="display:none")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Zone_13_list.jpg", alt="Zone 13")
            .thumbnail-text-container
                .thumbnail-text-container-title Zone 13
                .thumbnail-button-group
                    a(href="#zone",data-modal-trigger,class="mutation").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Port_list.jpg", alt="Port")
            .thumbnail-text-container
                .thumbnail-text-container-title Port
                .thumbnail-button-group
                    a(href="#port",data-modal-trigger,class="mutation").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Excavation_list.jpg", alt="Excavation")
            .thumbnail-text-container
                .thumbnail-text-container-title Excavation
                .thumbnail-button-group
                    a(href="#excavation",data-modal-trigger,class="mutation").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Research_Facility_list.jpg", alt="Research Facility")
            .thumbnail-text-container
                .thumbnail-text-container-title Research Facility
                .thumbnail-button-group
                    a(href="#research",data-modal-trigger,class="mutation").btn.btn-small More
      ul.thumbnail-list.tab-content(data-content="special",style="display:none")
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Halloween_list.jpg", alt="Halloween")
            .thumbnail-text-container
                .thumbnail-text-container-title Halloween
                .thumbnail-button-group
                    a(href="#halloween",data-modal-trigger,class="special").btn.btn-small More
        li.thumbnail-list-item
            .thumbnail-overlay
            img.thumbnail-list-image(src="img/maps/map-Christmas_list.jpg", alt="Christmas")
            .thumbnail-text-container
                .thumbnail-text-container-title Christmas
                .thumbnail-button-group
                    a(href="#christmas",data-modal-trigger,class="special").btn.btn-small More
