!!! strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='en-US')
head(profile='http://gmpg.org/xfn/11')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Characters «  Crossfire Español
    link(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/vendor/normalize.css', type='text/css', media='screen')
    link(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/vendor/reset.css', type='text/css', media='screen')
    link(rel='shortcut icon', href='http://images.z8games.com/cfes/wp-content/themes/cfes/favicon.ico')
    link(rel='alternate', type='application/rss+xml', title='Crossfire Espanol RSS Feed', href='http://es.crossfire.z8games.com/feed/')
    link(rel='alternate', type='application/atom+xml', title='Crossfire Espanol Atom Feed', href='http://es.crossfire.z8games.com/feed/atom/')
    link(rel='pingback', href='http://es.crossfire.z8games.com/xmlrpc.php')
    script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/modernizr-2.6.2.min.js')
    script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/selectivizr-min.js')
    link#js_composer_front-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/plugins/js_composer/assets/css/js_composer_front.css?ver=3.7.4', type='text/css', media='all')
    link#js_composer_custom_css-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/uploads/js_composer/custom.css?ver=3.7.4', type='text/css', media='screen')
    link#dt_colorbox_modal_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/colorbox.css?ver=3.8.1', type='text/css', media='all')
    link#dt_jquery_ui_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery-ui.min.css?ver=3.8.1', type='text/css', media='all')
    link#dt_jscrollpane_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery.jscrollpane.css?ver=3.8.1', type='text/css', media='all')
    link#dt_slippry_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery.slippry.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_content_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/content/module_content.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_front_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/module/module_front.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_shortcuts_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_shortcuts.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_social_media_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/social_media.css?ver=3.8.1', type='text/css', media='all')
    link#dt_video_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/video.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_video_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/module/video.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_post_content_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_content.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_post_tabs_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_tabs.css?ver=3.8.1', type='text/css', media='all')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700", type="text/css")
    link#cfes_main_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/cfes/css/main.css?ver=3.8.1', type='text/css', media='all')
    link#cfes_jqueryu_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/cfes/css/custom-theme/jquery-ui-1.10.4.custom.css?ver=3.8.1', type='text/css', media='all')
    link#dt_slider_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/slider.css?ver=3.8.1', type='text/css', media='all')
    link#dt_child_stylesheet-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/cfes/style.css?ver=3.8.1', type='text/css', media='all')
    link#dt_user_system_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/users/system.css?ver=3.8.1', type='text/css', media='all')
    link(href="css/newStyles.css", rel="stylesheet")
  body
    //-Middle content
    #newContent
        ul.tabs
          li.tab: a.tab-link(href="ranks-soldados.html") Soldados
          li.tab: a.tab-link(href="ranks-suboficial.html") Suboficial
          li.tab: a.tab-link(href="ranks-compania.html") Oficial De Compañía
          li.tab: a.tab-link(href="ranks-campo.html") Oficial De Campo
          li.tab.last.active: a.tab-link(href="#") General
        table.table-ranks
          col(style="width:30%")
          col(style="width:25%")
          col(style="width:45%")
          thead
            tr
              th Simbolo / Clasificacion
              th Experiencia Requerida
              th.last Bonus
          tbody
            tr
              td
                img.ranks-symbol(src="img/class/class_76.jpg")
                .ranks-title General De Brigada 1
              td.ac 8026911
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_77.jpg")
                .ranks-title General De Brigada 2

              td.ac 8481771
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_78.jpg")
                .ranks-title General De Brigada 3
              td.ac 8964561
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_79.jpg")
                .ranks-title General De Brigada 4
              td.ac 9475851
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_80.jpg")
                .ranks-title General De Brigada 5

              td.ac 10016211
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_81.jpg")
                .ranks-title General De Brigada 6
              td.ac 10586211
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_82.jpg")
                .ranks-title General Mayor 1

              td.ac 11186421
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_83.jpg")
                .ranks-title General Mayor 2
              td.ac 11817411
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_84.jpg")
                .ranks-title General Mayor 3

              td.ac 12479751
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_85.jpg")
                .ranks-title General Mayor 4
              td.ac 13174011
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_86.jpg")
                .ranks-title General Mayor 5

              td.ac 13900761
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_87.jpg")
                .ranks-title General Mayor 6
              td.ac 14660571
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_88.jpg")
                .ranks-title General Teniente 1
              td.ac 15454011
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_89.jpg")
                .ranks-title GGeneral Teniente 2

              td.ac 16281651
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_90.jpg")
                .ranks-title General Teniente 3
              td.ac 17144061
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_91.jpg")
                .ranks-title General Teniente 4

              td.ac 18041811
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_92.jpg")
                .ranks-title General Teniente 5
              td.ac 18975471
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_93.jpg")
                .ranks-title GGeneral Teniente 6

              td.ac 19945611
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_94.jpg")
                .ranks-title eneral Del Ejército 1

              td.ac 15454011
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_95.jpg")
                .ranks-title General Del Ejército 2

              td.ac 16281651
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_96.jpg")
                .ranks-title General Del Ejército 3

              td.ac 17144061
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_97.jpg")
                .ranks-title General Del Ejército 4

              td.ac 18041811
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_98.jpg")
                .ranks-title General Del Ejército 5

              td.ac 18975471
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_99.jpg")
                .ranks-title General Del Ejército 6

              td.ac 19945611
              td &mdash;
            tr
              td
                img.ranks-symbol(src="img/class/class_100.jpg")
                .ranks-title Mariscal

              td.ac &mdash;
              td &mdash;

