!!! strict
html(xmlns='http://www.w3.org/1999/xhtml', lang='en-US')
head(profile='http://gmpg.org/xfn/11')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Rangos «  Crossfire Espanol
    link(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/vendor/normalize.css', type='text/css', media='screen')
    link(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/vendor/reset.css', type='text/css', media='screen')
    //
       css3-mediaqueries.js for IE less than 9
    //if lt IE 9
      script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/css3-mediaqueries.js')
    link(rel='shortcut icon', href='http://images.z8games.com/cfes/wp-content/themes/cfes/favicon.ico')
    link(rel='alternate', type='application/rss+xml', title='Crossfire Espanol RSS Feed', href='http://es.crossfire.z8games.com/feed/')
    link(rel='alternate', type='application/atom+xml', title='Crossfire Espanol Atom Feed', href='http://es.crossfire.z8games.com/feed/atom/')
    link(rel='pingback', href='http://es.crossfire.z8games.com/xmlrpc.php')
    script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/modernizr-2.6.2.min.js')
    script(src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/vendor/selectivizr-min.js')
    link#js_composer_front-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/plugins/js_composer/assets/css/js_composer_front.css?ver=3.7.4', type='text/css', media='all')
    link#js_composer_custom_css-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/uploads/js_composer/custom.css?ver=3.7.4', type='text/css', media='screen')
    link#dt_colorbox_modal_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/colorbox.css?ver=3.8.1', type='text/css', media='all')
    link#dt_jquery_ui_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery-ui.min.css?ver=3.8.1', type='text/css', media='all')
    link#dt_jscrollpane_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery.jscrollpane.css?ver=3.8.1', type='text/css', media='all')
    link#dt_slippry_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/jquery.slippry.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_content_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/content/module_content.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_front_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/module/module_front.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_shortcuts_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_shortcuts.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_social_media_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/social_media.css?ver=3.8.1', type='text/css', media='all')
    link#dt_video_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/video.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_video_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/module/video.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_post_content_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_content.css?ver=3.8.1', type='text/css', media='all')
    link#dt_module_post_tabs_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/module/post_tabs.css?ver=3.8.1', type='text/css', media='all')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700", type="text/css")
    link#cfes_main_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/cfes/css/main.css?ver=3.8.1', type='text/css', media='all')
    link#cfes_jqueryu_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/cfes/css/custom-theme/jquery-ui-1.10.4.custom.css?ver=3.8.1', type='text/css', media='all')
    link#dt_slider_style-css(rel='stylesheet', href='http://images.z8games.com/cfes/wp-content/themes/default_theme/css/slider.css?ver=3.8.1', type='text/css', media='all')
    link#dt_child_stylesheet-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/cfes/style.css?ver=3.8.1', type='text/css', media='all')
    link#dt_user_system_style-css(rel='stylesheet', href='http://es.crossfire.z8games.com/wp-content/themes/default_theme/css/users/system.css?ver=3.8.1', type='text/css', media='all')
    script(type='text/javascript', src='http://es.crossfire.z8games.com/wp-includes/js/jquery/jquery.js?ver=1.10.2')
    script(type='text/javascript', src='http://es.crossfire.z8games.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/facebook.plugin.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/jquery.colorbox-min.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/jquery.mousewheel.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/mwheelIntent.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/jquery.jscrollpane.min.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/video.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/module/video.js?ver=3.8.1')
    script(type='text/javascript', src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/module/post_content.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/jquery-ui.min.js?ver=3.8.1')
    script(type='text/javascript').
      /* <![CDATA[ */
      var ajax_request = {"ajaxurl":"http:\\/\/es.crossfire.z8games.com\/wp-admin\/admin-ajax.php"};
      /* ]]> */
    script(type='text/javascript', src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/module/post_tabs.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/cfes/js/jquery-ui-1.10.4.custom.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/cfes/js/jquery.fs.selecter.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/cfes/js/jquery.placeholder.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/cfes/js/main.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/jquery.slippry.min.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/slider.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/default_theme/js/jquery.validate.min.js?ver=3.8.1')
    script(type='text/javascript', src='http://images.z8games.com/cfes/wp-content/themes/cfes/js/errors.js?ver=3.8.1')
    script(type='text/javascript').
      /* <![CDATA[ */
      var dt_user_system_login = {"class":"cfes-login-modal","template":"<div id=\\"login-form-container\">\r\n\t<form action=\"https:\/\/es-app.z8games.com\/login\" method=\"POST\">\r\n\t\t<p class=\"title\">Acceder<\/p>\r\n\t\t<div class=\"left-col\">\r\n\t\t\t<p class=\"top-text\">Por favor accede para jugar a Cross Fire Espa\u00f1ol<\/p><br>\r\n\t\t\t<input type=\"text\" name=\"userid\" value=\"\" placeholder=\"Introduce tu Email\" \/><br\/><br>\r\n\t\t\t\r\n\t\t\t<input type=\"password\" name=\"password\" value=\"\" placeholder=\"Contrase\u00f1a\" \/><br\/>\r\n\t\t\t\r\n\t\t\t<input type=\"hidden\" name=\"spotcd\" value=\"1\"\/><br\/>\t\t\r\n\t\t\t<input type=\"hidden\" name=\"returnurl\" value=\"\"  size=\"50\"\/><br\/>\r\n\t\t\t\r\n\t\t\t<input type=\"submit\" name=\"submit\" value=\"Enviar\" \/>\r\n\t\t<\/form>\r\n\t\t\r\n\t\t<a href=\"#\" class=\"cfes-password-modal\">Olvid\u00e9 mi contrase\u00f1a<\/a>\r\n\t<\/div>\r\n\t\r\n\t<div class=\"right-col\">\r\n\t\t<p class=\"top-text\">Nuevo a Cross Fire Espa\u00f1ol?<\/p>\r\n\t\t<a class=\"register\" href=\"http:\/\/es.crossfire.z8games.com\/register\">REGISTRARSE<\/a>\r\n\t\t<a class=\"facebook\" href=\"http:\/\/es.crossfire.z8games.com\/facebooklogin\" target=\"_blank\">Conectar a trav\u00e9s de Facebook<\/a>\r\n\t<\/div>\r\n\t\r\n\t<div class=\"bottom\">\r\n\t\t<p class=\"bottom-orange\">DESCARGAR Cross Fire <\/p>\r\n\t\t<p class=\"bottom-grey\">Una vez el archivo se haya descargado, haz clic en \u00e9l para <br>instalar Cross Fire Espa\u00f1ol<\/p>\r\n\t\t\t\t
      \\r\n\t\t<a href=\"http:\/\/goo.gl\/mcx4Jx\" class=\"download-btn\"><\/a>\r\n\t<\/div>\t\r\n<\/div>"};
      var dt_user_system_password = {"class":"cfes-password-modal","template":"<div id=\\"password-form-container\">\r\n\t<form action=\"https:\/\/es-app.z8games.com\/member\/pwd\/reset\" method=\"POST\">\r\n\t\t\r\n\t\t<p class=\"title\">Recuperar Contrase\u00f1a<\/p>\r\n\t\t<div class=\"container\">\r\n\t\t<p class=\"big-text\">Introduce tu direcci\u00f3n de Email<\/p>\r\n\t\t<input type=\"text\" name=\"email\" value=\"\" \/>\r\n\t\t\r\n\t\t<p class=\"big-text\">Pregunta Secreta<\/p>\r\n\t\t<div class=\"secret-dropdown\">\r\n\t\t\t<select name=\"question\" id=\"form_secretquestion\" class=\"selector\">\r\n\t\t\t\t<option value=\"\">Pregunta Secreta<\/option>\r\n\t\t\t\t<option value=\"1\">C\u00f3mo se llamaba tu escuela primera?<\/option>\r\n\t\t\t\t<option value=\"2\">De qu\u00e9 marca fue tu primer auto?<\/option>\r\n\t\t\t\t<option value=\"3\">En qu\u00e9 ciudad naciste?<\/option>\r\n\t\t\t\t<option value=\"4\">Cu\u00e1l fue el primer videojuego al que jugaste?<\/option>\r\n\t\t\t\t<option value=\"5\">Cu\u00e1l es tu videojuego favorito?<\/option>\r\n\t\t\t\t<option value=\"6\">Cu\u00e1l es tu pel\u00edcula favorita?<\/option>\r\n\t\t\t\t<option value=\"7\">Cu\u00e1l es tu superh\u00e9roe favorito?<\/option>\r\n\t\t\t\t<option value=\"8\">C\u00f3mo se llamaba tu primera mascota?<\/option>\r\n\t\t\t\t<option value=\"9\">Cu\u00e1l es tu g\u00e9nero de juegos favorito?<\/option>\r\n\t\t\t<\/select>\r\n\t\t\t<div class=\"arrow\"><\/div>\r\n\t\t<\/div>\r\n\t\t\t\t\r\n\t\t<p class=\"big-text\">Respuesta<\/p>\r\n\t\t<input type=\"text\" name=\"answer\" \/>\r\n\t\t\r\n\t\t<input type=\"hidden\" name=\"spotcd\" value=\"1\"\/>\r\n\t\t<p class=\"info\">Enviaremos un mensaje a tu cuenta de Email con tu contrase\u00f1a actual.<\/p>\r\n\t\t<div class=\"success-message\"><\/div>\r\n\t\t<input type=\"button\" value=\"Acceder\" class=\"cfes-login-modal\"\/>\r\n\t\t<input type=\"submit\" name=\"submit\" value=\"Enviar\" \/>\r\n\t\t<\/div>\r\n\t<\/form>\r\n<\/div>"};
      var dt_user_system_local = {"base_url":"http:\\/\/es.crossfire.z8games.com"};
      /* ]]> */
    script(type='text/javascript', src='http://es.crossfire.z8games.com/wp-content/themes/default_theme/js/users/system.js?ver=3.8.1')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://es.crossfire.z8games.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://es.crossfire.z8games.com/wp-includes/wlwmanifest.xml')
    link(rel='next', title='Medios', href='http://es.crossfire.z8games.com/guias/medios/')
    meta(name='generator', content='WordPress 3.8.1')
    link(rel='canonical', href='http://es.crossfire.z8games.com/guias/rangos/')
    link(rel='shortlink', href='http://es.crossfire.z8games.com/?p=416')
    meta(name='generator', content='Powered by Visual Composer - drag and drop page builder for WordPress.')

    link(href="css/newStyles.css", rel="stylesheet")
  body
    #sub-wrapper
      #container.subcontainer
        header#header
          .header-navigation.closed
            ul#menu-main-navigation-menu.menu
              li#menu-item-110.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-110
                a(href='/') logo
              li#menu-item-63.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-63
                a(href='/noticias') Noticias
                ul.sub-menu
                  li#menu-item-111.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-111
                    a(href='/noticias') Noticias
                  li#menu-item-112.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-112
                    a(href='/eventos') Eventos
                  li#menu-item-113.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-113
                    a(href='/parches') Parches
              li#menu-item-443.menu-item.menu-item-type-post_type.menu-item-object-cfes_guides.current-menu-item.current-menu-ancestor.current-menu-parent.menu-item-has-children.menu-item-443
                a(href='http://es.crossfire.z8games.com/guias/rangos/') Guias
                ul.sub-menu
                  li#menu-item-400.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-400
                    a(href='/guias/historia') Historia
                  li#menu-item-401.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-401
                    a(href='#') Personajes
                  li#menu-item-402.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-402
                    a(href='#') Armas
                  li#menu-item-403.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-403
                    a(href='#') Crear un Clan
                  li#menu-item-404.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-404
                    a(href='#') Modos
                  li#menu-item-405.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-405
                    a(href='#') Mapas
                  li#menu-item-444.menu-item.menu-item-type-post_type.menu-item-object-cfes_guides.current-menu-item.menu-item-444
                    a(href='http://es.crossfire.z8games.com/guias/rangos/') Rangos
                  li#menu-item-407.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-407
                    a(href='/guias/medio/') Medios
              li#menu-item-64.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-64
                a(href='#') Clan
              li#menu-item-65.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-65
                a(href='#') Tienda
              li#menu-item-66.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66
                a(target='_blank', href='http://es.forum.z8games.com') Foro
              li#menu-item-408.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-has-children.menu-item-408
                a(href='http://es.crossfire.z8games.com/soporte/descarga/') Soporte
                ul.sub-menu
                  li#menu-item-411.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-411
                    a(target='_blank', href='#') Centro de Apoyo al
                  li#menu-item-415.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-415
                    a(href='http://es.crossfire.z8games.com/soporte/descarga/') Descarga
                  li#menu-item-740.disabled.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-740
                    a(href='http://es.crossfire.z8games.com/soporte/como-jugar/') Cómo jugar
                  li#menu-item-770.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-770
                    a(href='http://es.crossfire.z8games.com/soporte/canjear-codigo/') Canjear Código
              li#menu-item-735.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-735
                a(href='#') Manténgase conectado
                ul.sub-menu
                  li#menu-item-736.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-736
                    a(target='_blank', href='https://www.facebook.com/CrossFireLatino') facebook
                  li#menu-item-737.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-737
                    a(target='_blank', href='https://twitter.com/Cross_FireES') twitter
                  li#menu-item-738.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-738
                    a(target='_blank', href='https://www.youtube.com/channel/UCjwh8_ynMrKCEZQeJ8MewCQ') youtube
                  li#menu-item-739.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-739
                    a(target='_blank', href='https://plus.google.com/u/0/103014103715298579945/posts') google
        #before-content
        .spacer
        #content
          //- Left column
          .wpb_row.vc_row-fluid
            .vc_span3.wpb_column.column_container
              .wpb_wrapper
                .dt_layout_template
                  //-Subpage nav
                  .wpb_row.vc_row-fluid
                    .vc_span12.wpb_column.column_container
                      .wpb_wrapper
                        .dt-module.dt-post-shortcuts.dt-style-eventmenu
                          .dt-content-container
                            .dt-content-before
                              .dt-content-before-left
                              .dt-content-before-center
                              .dt-content-before-right
                            .dt-content
                              .dt-module-title
                                span.title Guias
                              ul
                                li
                                  a(href='http://es.crossfire.z8games.com/guias/historia/')
                                    | Historia
                                    br
                                li
                                  a.active(href='http://es.crossfire.z8games.com/guias/rangos/')
                                    | Rangos
                                    br
                                li
                                  a(href='http://es.crossfire.z8games.com/guias/medios/')
                                    | Medios
                                    br
                  //-Facebook module
                  .wpb_row.vc_row-fluid
                    .vc_span12.wpb_column.column_container
                      .wpb_wrapper
                        .dt-social-media.dt-module.dt-style-modbox
                          .dt-content-container
                            .dt-content-before
                              .dt-content-before-left
                              .dt-content-before-center
                              .dt-content-before-right
                            .dt-content
                              .dt-module-title
                                span.title Siguenos en Facebook
                              .dt-facebook-like-box-holder(data-pageurl=' https://www.facebook.com/CrossFireLatino', data-height='290', data-style='dark')
                                .ajax-loader
                  //- Video module
                  .wpb_row.vc_row-fluid
                    .vc_span12.wpb_column.column_container
                      .wpb_wrapper
                        .dt-video.dt-video-modal.dt-module.dt-style-modbox
                          .dt-content-container
                            .dt-content-before
                              .dt-content-before-left
                              .dt-content-before-center
                              .dt-content-before-right
                            .dt-content
                              .dt-module-title
                                span.title Vídeo Destacado
                              .dt-video-container-wrapper
                                .dt-video-container
                                  .dt-video-list(style='width: 372px;')
                                    .dt-video-thumbnail
                                      a.video-play(href='play', data-modalclass='dt-style-modbox ', data-videoid='CEWgtYx9iDw', data-videowidth='640', data-videoheight='390', data-videomodal='1', data-videoplayback='1', data-videocontrols='1', data-videoplaylist='')
                                      .video-image-container(style='background: url(\'http://img.youtube.com/vi/CEWgtYx9iDw/0.jpg\') no-repeat center;')

            //-Middle content
            .vc_span9.wpb_column.column_container
              .wpb_wrapper
                .dt-module.dt-post-content.dt-style-subpage
                  .dt-content-container
                    .dt-content-before
                      .dt-content-before-left
                      .dt-content-before-center
                      .dt-content-before-right
                    .dt-content
                      .dt-module-title
                        .title Rangos
                      .dt-post-content-container
                        .wpb_row.vc_row-fluid
                          .wpb_wrapper
                            //Carlos New HTML/CSS Static Markup

                            ul.tabs
                              li.tab.active: a.tab-link(href="#") Soldados
                              li.tab: a.tab-link(href="ranks-suboficial.html") Suboficial
                              li.tab: a.tab-link(href="ranks-compania.html") Oficial De Compañía
                              li.tab: a.tab-link(href="ranks-campo.html") Oficial De Campo
                              li.tab.last: a.tab-link(href="ranks.general") General
                            table.table-ranks
                              col(style="width:30%")
                              col(style="width:25%")
                              col(style="width:45%")
                              thead
                                tr
                                  th Simbolo / Clasificacion
                                  th Experiencia Requerida
                                  th.last Bonus
                              tbody
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Cabo 2º2
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_3.jpg")
                                    .ranks-title Cadete
                                  td.ac 913
                                  td Armas Desbloqueadas: Dragunov Steyr, AUG A1, Scar Heavy, FAMAS, Desert Eagle, SG552 - Bonificion Por Nuevo Rango: 20,000 GP Bonificion Por Nuevo Rango: 20,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Mi Capitan es muy bonito
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Mi Capitan es muy bonito
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Mi Capitan es muy bonito
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Cabo 2º2
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_3.jpg")
                                    .ranks-title Cadete
                                  td.ac 913
                                  td Armas Desbloqueadas: Dragunov Steyr, AUG A1, Scar Heavy, FAMAS, Desert Eagle, SG552 - Bonificion Por Nuevo Rango: 20,000 GP Bonificion Por Nuevo Rango: 20,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Mi Capitan es muy bonito
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Mi Capitan es muy bonito
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_1.jpg")
                                    .ranks-title Mi Capitan es muy bonito
                                  td.ac &mdash;
                                  td &mdash;
                                tr
                                  td
                                    img.ranks-symbol(src="img/class_2.jpg")
                                    .ranks-title Cadete

                                  td.ac 913
                                  td Bonificion Por Nuevo Rango: 10,000 GP                                  


        // Close #content

        #after-content
      // Close #container

      footer#footer
        .footer-navigation
          ul#menu-main-navigation-menu-1.menu
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-110
              a(href='/') logo
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-63
              a(href='/noticias') Noticias
              ul.sub-menu
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-111
                  a(href='/noticias') Noticias
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-112
                  a(href='/eventos') Eventos
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-113
                  a(href='/parches') Parches
            li.menu-item.menu-item-type-post_type.menu-item-object-cfes_guides.current-menu-item.current-menu-ancestor.current-menu-parent.menu-item-has-children.menu-item-443
              a(href='http://es.crossfire.z8games.com/guias/rangos/') Guias
              ul.sub-menu
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-400
                  a(href='/guias/historia') Historia
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-401
                  a(href='#') Personajes
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-402
                  a(href='#') Armas
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-403
                  a(href='#') Crear un Clan
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-404
                  a(href='#') Modos
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-405
                  a(href='#') Mapas
                li.menu-item.menu-item-type-post_type.menu-item-object-cfes_guides.current-menu-item.menu-item-444
                  a(href='http://es.crossfire.z8games.com/guias/rangos/') Rangos
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-407
                  a(href='/guias/medio/') Medios
            li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-64
              a(href='#') Clan
            li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-65
              a(href='#') Tienda
            li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66
              a(target='_blank', href='http://es.forum.z8games.com') Foro
            li.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-has-children.menu-item-408
              a(href='http://es.crossfire.z8games.com/soporte/descarga/') Soporte
              ul.sub-menu
                li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-411
                  a(target='_blank', href='#') Centro de Apoyo al
                li.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-415
                  a(href='http://es.crossfire.z8games.com/soporte/descarga/') Descarga
                li.disabled.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-740
                  a(href='http://es.crossfire.z8games.com/soporte/como-jugar/') Cómo jugar
                li.menu-item.menu-item-type-post_type.menu-item-object-cfes_support.menu-item-770
                  a(href='http://es.crossfire.z8games.com/soporte/canjear-codigo/') Canjear Código
            li.disabled.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-735
              a(href='#') Manténgase conectado
              ul.sub-menu
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-736
                  a(target='_blank', href='https://www.facebook.com/CrossFireLatino') facebook
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-737
                  a(target='_blank', href='https://twitter.com/Cross_FireES') twitter
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-738
                  a(target='_blank', href='https://www.youtube.com/channel/UCjwh8_ynMrKCEZQeJ8MewCQ') youtube
                li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-739
                  a(target='_blank', href='https://plus.google.com/u/0/103014103715298579945/posts') google
        .copyright
          ul
            li
            li
              | COPYRIGHT @ 2006-2014 Z8Games. TODOS LOS DERECHOS RESERVADOS?
              br
              | COPYRIGHT @ 2006-2014 SmileGate North. TODOS LOS DERECHOS RESERVADOS
              br
              | COPYRIGHT @ SmileGate. TODOS LOS DERECHOS RESERVADOS
              br