.tab-content(data-tab-content="control",style="display:none")

    .article.full-width
      img.article-full-image(src="img/soporte/control-1.png", alt="")
      p 1. Puede elegir una bolsa con la tecla <span class="text-highlight">"B"</span>. Puede soltar su arma con la tecla <span class="text-highlight">"G"</span><br>
        | 2. No hay tecla para recoger armas. Si no dispone de un arma principal o secundaria puede recoger una simplemente caminando sobre ella.<br>
        | 3. Para poner el C4 debe seleccionar la bomba con la tecla <span class="text-highlight">"5"</span> y hacer clic con el botón izquierdo del ratón en el área a detonar.
      .cols
        .col(style="margin-right:80px")
          ul
            li <span class="text-highlight">A</span> - Left
            li <span class="text-highlight">D</span> - Right
            li <span class="text-highlight">W</span> - Forward
            li <span class="text-highlight">S</span> - Backward
            li <span class="text-highlight">SHIFT</span> - Walk
            li <span class="text-highlight">CTRL</span> - Crouch
            li <span class="text-highlight">SPACE</span> - Jump
            li <span class="text-highlight">R</span> - Reload
            li <span class="text-highlight">G</span> - Drop Current Weapon
            li <span class="text-highlight">Q</span> - Previous Weapon
            li <span class="text-highlight">E</span> - Defuse C4
            li <span class="text-highlight">Tab</span> - Check Status
            li <span class="text-highlight">Delete</span> - Radar on/off
            li <span class="text-highlight">Z,X,C</span> - Radio Messages
            li <span class="text-highlight">ESC</span> - Option
            li <span class="text-highlight">ENTER</span> - Input Chat
        .col
          ul
            li <span class="text-highlight">B</span> - Switch Backpacks
            li <span class="text-highlight">1</span> - Primary Weapon
            li <span class="text-highlight">2</span> - Secondary Weapon
            li <span class="text-highlight">3</span> - Melee
            li <span class="text-highlight">4</span> - Throw
            li <span class="text-highlight">5</span> - C4
            li <span class="text-highlight">F1</span> - Help
            li <span class="text-highlight">F2</span> - Normal Chatting Mode
            li <span class="text-highlight">F3</span> - Team Chatting Mode
            li <span class="text-highlight">Home</span> - Brightness Up
            li <span class="text-highlight">End</span> - Brightness Down
            li <span class="text-highlight">Page Up</span> - Mouse Sensitive Up
            li <span class="text-highlight">Page Down</span> - Mouse Sensitive Down
            li <span class="text-highlight">Print Screen</span> - Save Screenshot
            li <span class="text-highlight">Insert</span> - Team/Bomb Location
            li <span class="text-highlight">F5 ~ F8</span> - Macro
            li <span class="text-highlight">F11, F12</span> - Vote, Kick, Agree/Disagree
        .col
          .mouse-diagram
            p.left-button <span class="text-highlight">Mouse Left</span><br>Shoot/C4 Placement
            p.right-button <span class="text-highlight">Mouse Right</span><br>Special Attack
