.tab-content(data-tab-content="getting-started")
  ul.subtabs.tab-count-4
    li.subtab.active: a.subtab-link(href="#getting-started-1") Registro
    li.subtab: a.subtab-link(href="#getting-started-2") Inicio Del Juego
    li.subtab: a.subtab-link(href="#getting-started-3") Inicio Del Juego
    li.subtab: a.subtab-link(href="#getting-started-4") Deinstalar

  ul.article-list(data-subtab-content="getting-started-1")
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-1-1.jpg", alt="Registro Step 1")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Registro: Vaya a la dirección: <a href="http://es.crossfire.z8games.com/">http://es.crossfire.z8games.com/</a> y haga clic en “REGISTRARSE” para crear una cuenta nueva.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-1-2.jpg", alt="Registro Step 2")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Introduzca la información requerida en los distintos campos.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-1-3.jpg", alt="Registro Step 3")
      .article-list-text
        h2.article-list-item-title 3º PASO
        p Después de completar los campos obligatorios acepte crear su cuenta de Z8Games para completar su registro. Si la información es correcta se cargará una nueva página como muestra la siguiente imagen:
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-1-4.jpg", alt="Registro Step 4")
      .article-list-text
        h2.article-list-item-title 4º PASO
        p Después de unos segundos será redirigido automáticamente a la página de inicio, pero deberá activar su cuenta antes de poder acceder al juego. Ingrese en su cuenta de correo electrónico y busque el email de Z8Games en su bandeja de entrada. Este email contiene un enlace para activar su cuenta, así como la información de su registro, contraseña, identificación y respuesta a la pregunta de seguridad que eligió. Haga clic en el enlace de este email para validar y activar su cuenta.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-1-5.jpg", alt="Registro Step 5")
      .article-list-text
        h2.article-list-item-title 5º PASO
        p Después de hacer clic en el enlace del email, será dirigido a una página de Cross Fire confirmando la activación de su cuenta.

  ul.article-list(data-subtab-content="getting-started-2")
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-1.jpg", alt="Install 1")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Descarga: Después de haber realizado su registro, será conducido a una nueva página <a href="http://es.crossfire.z8games.com/downloads3.aspx">donde</a> se le informará de cuáles son los requisitos mínimos para jugar a Cross Fire y dispondrá de un enlace que le permitirá descargar el juego en español.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-2.jpg", alt="Install 2")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Haga clic en la opción "Descargar Cross Fire". A continuación se abrirá una nueva ventana con los Términos de Uso de Pando Media Booster
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-3.jpg", alt="Install 3")
      .article-list-text
        h2.article-list-item-title 3º PASO
        p Acepte los Términos de Uso y elija la ubicación donde desee guardar los archivos de descarga.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-4.jpg", alt="Install 4")
      .article-list-text
        h2.article-list-item-title 4º PASO
        p Después de la descarga, se abrirá una ventana con información básica acerca de Cross Fire, incluyendo el tamaño del juego. Asegúrese de disponer de suficiente memoria disponible en su disco duro. Haga clic en "Siguiente".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-5.jpg", alt="Install 5")
      .article-list-text
        h2.article-list-item-title 5º PASO
        p Después de hacer clic en "Siguiente", deberá leer y aceptar los Términos de Uso y la Licencia de TERA. Marque la casilla “Acepto los Términos del Contrato” y haga clic en “Siguiente”.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-6.jpg", alt="Install 6")
      .article-list-text
        h2.article-list-item-title 6º PASO
        p Descarga: Una vez que haya hecho clic en "Siguiente" se le pedirá que seleccione una ubicación de destino donde desee instalar el juego. Pulse el botón “Buscar” y seleccione dónde quiere instalar Cross Fire.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-7.jpg", alt="Install 7")
      .article-list-text
        h2.article-list-item-title 7º PASO
        p A continuación, el proceso de instalación le pedirá que especifique dónde quiere crear el icono de acceso a Cross Fire. Si está de acuerdo con la ubicación por defecto, haga clic en “Siguiente”. Si desea especificar una ubicación alternativa, haga clic en “Buscar” y elija la nueva ubicación del icono de acceso. Una vez esté satisfecho con la ubicación, haga clic en “Siguiente”.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-8.jpg", alt="Install 8")
      .article-list-text
        h2.article-list-item-title 8º PASO
        p En el siguiente paso se le preguntará si desea que Cross Fire cree accesos directos en el Escritorio y en el Menú de Inicio. Seleccione las opciones que desee y haga clic en “Siguiente”.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-9.jpg", alt="Install 9")
      .article-list-text
        h2.article-list-item-title 9º PASO
        p La siguiente ventana le mostrará un resumen de la ubicación de los archivos del juego y el icono de acceso y le dará la opción de modificarlos si no está de acuerdo. En caso de que todo esté correcto, haga clic en “Instalar” para comenzar la instalación.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-2-10.jpg", alt="Install 10")
      .article-list-text
        h2.article-list-item-title 10º PASO
        p Una vez el programa termine de instalarse, aparecerá la ventana indicando el fin de la instalación. Simplemente haga clic en “Terminar”.


  ul.article-list(data-subtab-content="getting-started-3")
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-1.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Registro: Busque el icono del juego en el escritorio o en la carpeta de instalación y haga doble clic sobre él.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-2.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Una vez que haya hecho clic en el icono de Cross Fire, se abrirá la ventana del lanzador del juego. Haga clic en "Inicio".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-3.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 3er  PASO
        p El juego comenzará a cargarse automáticamente. Una vez cargado, por favor introduzca su información de acceso en los campos "Cuenta" y "Contraseña" (es la información con la que se registró en la página web de Cross Fire). Haga clic en "Aceptar" para continuar.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-4.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 4º PASO
        p Al hacer clic en "Ok" entrará al Vestíbulo de Servidores donde aparecerá una ventana para crear un nombre para su soldado. Elija el nombre que desee y haga clic en "confirmar". Si el nombre ya está en uso se mostrará un mensaje indicando que el nombre no está disponible. Tras escoger un nombre válido, haga clic en "Aceptar".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-5.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 5º PASO
        p Después de confirmar el nombre de su soldado será conducido al Vestíbulo de Servidores donde podrá elegir el servidor en el que desee jugar. El color amarillo de los servidores indica que usted no puede acceder a ellos por no tener el rango adecuado o no pertenecer a ningún clan.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-6.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 6º PASO
        p Después de confirmar el nombre de su soldado será conducido al Vestíbulo de Servidores donde podrá elegir el servidor en el que desee jugar. El color amarillo de los servidores indica que usted no puede acceder a ellos por no tener el rango adecuado o no pertenecer a ningún clan.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-7.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 7º PASO
        p Una vez haya comprado las armas y los artículos necesarios para equipar a su soldado aparecerá un mensaje con la opción de ir al campo de entrenamiento. Este entrenamiento es opcional y usted puede elegir no realizarlo y proceder directamente al juego.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-8.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 8º PASO
        p Si decide realizar el entrenamiento, un tutorial le guiará a través de los movimientos básicos del juego. Si prefiere optar por no completar el entrenamiento, haga clic en "Cancelar", y accederá al Lobby de Canales. Seleccione un canal y haga doble clic sobre él para entrar o haga clic en "Acceder".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-9.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 9º PASO
        p Después de entrar en un canal accederá al Lobby del mismo, donde podrá ver varias salas. Las salas azules son habitaciones que están a la espera para iniciar una partida, las salas rojas son las habitaciones que se encuentran en mitad de una partida y las grises son las habitaciones que actualmente están llenas. Puede crear una nueva sala haciendo clic en "Crear Sala". Deberá elegir el modo de juego, el nombre de la sala, la contraseña (opcional) y otras opciones. Una vez seleccionadas las opciones básicas de la sala haga clic en "Aceptar".
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-3-10.jpg", alt="")
      .article-list-text
        h2.article-list-item-title 10º PASO
        p Si usted es el administrador de la sala podrá editar las opciones de la misma, que se encuentran en la parte superior izquierda de la pantalla. Se sabe quién es el administrador gracias a que este tendrá una pequeña estrella verde junto a su nombre.  Para saber qué jugadores están ya en el juego, busque una letra “P” a la derecha de cada nombre; esta letra “P” indica qué jugadores están jugando. Puede elegir jugar tanto como miembro de Black List como de Global Risk; para ello tan solo haga clic en el lado del bando del que desee formar parte. Para terminar, haga clic en "Unirse a la Partida".

  ul.article-list
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-4-1.jpg", alt="Deinstalar 1")
      .article-list-text
        h2.article-list-item-title 1er PASO
        p Vaya a Disco local C: - Archivos de programa - Z8Games - CrossFire y haga clic en el icono unins000.exe (La ubicación de destino del programa de desinstalación puede variar dependiendo de la elección del usuario durante la instalación del juego o incluso del OS/Sistema Operativo) Un cuadro de texto aparecerá después de hacer clic en el icono unins000.exe. Seleccione "Sí" para desinstalar el juego.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-4-2.jpg", alt="Deinstalar 2")
      .article-list-text
        h2.article-list-item-title 2º PASO
        p Se abrirá la ventana de desinstalación. Espere a que la barra de progreso haya finalizado.
    li.article-list-item
      img.article-list-image(src="img/soporte/getting-started-4-3.jpg", alt="Deinstalar 3")
      .article-list-text
        h2.article-list-item-title 3er  PASO
        p Aparecerá un mensaje indicando que Cross Fire ha sido eliminado de su computadora. ¡Gracias por jugar y vuelva cuando quiera!