.tab-content(data-tab-content="setting",style="display:none")
  ul.subtabs.tab-count-6
    li.subtab.active: a.subtab-link(href="#setting-1") Grafico
    li.subtab: a.subtab-link(href="#setting-2") Controles
    li.subtab: a.subtab-link(href="#setting-3") Audio
    li.subtab: a.subtab-link(href="#setting-4") Comunicacion
    li.subtab: a.subtab-link(href="#setting-5") Configuracion
    li.subtab: a.subtab-link(href="#setting-6") Miscelanos

  .all-subtab-content
    ul.article-list
      li.article-list-item.subtab-content(data-subtab-content="setting-1")
        img.article-list-image.no-border(src="img/soporte/setting-1.jpg", alt="")
        .article-list-text.large
          p Puede configurar varias opciones del juego dependiendo del hardware de su sistema. Ayuda. El tamaño de los personajes es el mismo en resolución 800x600 y 1024x768.<br>
          ul.description-list
            li Puede cambiar sus ajustes gráficos y del juego.
            li Marque las casillas de ajustes gráficos para cambiarlos: Alta o Baja.
          p Es preferible utilizar un sistema de características superiores al mínimo requerido.
          p <span class="text-highlight">3. Términos Especiales.</span><br>
            | <span class="text-highlight">- Efectos: Efectos de disparos y humo de las armas.</span><br>
            | <span class="text-highlight">- Efectos de Sangre: Efecto del daño al atacar enemigos.</span>

      li.article-list-item.subtab-content(data-subtab-content="setting-2",style="display:none")
        img.article-list-image.no-border(src="img/soporte/setting-2.jpg", alt="")
        .article-list-text.large
          p Puede configurar los controles del juego según sus preferencias personales.<br>
            |Ayuda. Apriete el botón "Básico" para mostrar la configuración de los controles básicos si los cambia accidentalmente.<br>
          ul.description-list
            li Puede cambiar la configuración con la tecla "Control"
            li Para cambiar la configuración de los controles, haga clic con el ratón izquierdo del ratón en la tecla en particular que desee cambiar y a continuación apriete la tecla del teclado o del ratón que desee.

      li.article-list-item.subtab-content(data-subtab-content="setting-3",style="display:none")
        img.article-list-image.no-border(src="img/soporte/setting-3.jpg", alt="")
        .article-list-text.large
          p Puede configurar distintas opciones de sonido según sus preferencias personales.
          p Ayuda. Apriete el botón "Básico" para mostrar la configuración de los controles básicos si los cambia accidentalmente.
          ul.description-list
            li Puede controlar el volumen y el uso del sonido en el  juego.
            li No existe una tecla de acceso rápido para controlar el volumen. Necesita ajustar el volumen antes de empezar una partida.

      li.article-list-item.subtab-content(data-subtab-content="setting-4",style="display:none")
        img.article-list-image.no-border(src="img/soporte/setting-4.jpg", alt="")
        .article-list-text.large
          p Puede configurar distintas opciones de comunicación según sus preferencias personales.
          p Ayuda. Puede guardar su historial del chat en Macro usando una tecla de acceso rápido. Sobreutilizar el Macro puede bloquear la función del chat.
          ul.description-list
            li Puede configurar chats, invitaciones y Macros relacionados con la comunidad
            li Las principales funciones son "Rechazar Invitación" y "Bloquear Mensajes Privados".
            li Puede cambiar la tecla de acceso rápido de los mensajes de radio.

      li.article-list-item.subtab-content(data-subtab-content="setting-5",style="display:none")
        img.article-list-image.no-border(src="img/soporte/setting-5.jpg", alt="")
        .article-list-text.large
          p Puede configurar varias teclas de acceso directo según sus preferencias personales.
          p Ayuda. Durante el combate, no puede cambiar la configuración de estas teclas.
          ul.description-list
            li Los accesos directos le ayudan a manejar el juego más fácilmente.
            li Muestra el directorio de teclas de acceso directo.

      li.article-list-item.subtab-content(data-subtab-content="setting-6",style="display:none")
        img.article-list-image.no-border(src="img/soporte/setting-6.jpg", alt="")
        .article-list-text.large
          p Puede configurar otras funciones según sus preferencias personales.
          ul.description-list
            li Puede controlar opciones referentes a sus registros de combate.
            li Puede cambiar el punto de mira e invertir el ratón.